## Imports

In [1]:
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree

In [2]:
train = pd.read_csv('train.csv')
train.head(10)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1

In [3]:
pos_col_text = train.columns.get_loc('text')+1
train.insert(loc=pos_col_text, column='len_text', value=train['text'].iloc[:].str.len())
train.head(10)

,id,keyword,location,text,len_text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,69,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,38,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,133,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",65,1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,88,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,110,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,95,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,59,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,79,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,52,1

### Enconding de columnas categóricas/strings

In [4]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import nltk #pip install nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/ben/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [5]:
tf_idf_vec = TfidfVectorizer(use_idf=True, smooth_idf=False, ngram_range=(1,1), stop_words='english', tokenizer=nltk.word_tokenize)
tf_idf_data = tf_idf_vec.fit_transform(train['text'])

In [10]:
col_names = tf_idf_vec.get_feature_names()
col_names

['!',
 '#',
 '$',
 '%',
 '&',
 "'",
 "''",
 "'02",
 "'05",
 "'11",
 "'13",
 "'14",
 "'1984'-style",
 "'1pack",
 "'30",
 "'60",
 "'80s",
 "'83",
 "'93",
 "'=blackcats=",
 "'aftershock",
 "'afterwards",
 "'alarmed",
 "'all",
 "'alloosh",
 "'am",
 "'amateur",
 "'american",
 "'amino",
 "'among",
 "'an",
 "'and",
 "'annihilated",
 "'anyway",
 "'apollo",
 "'are",
 "'argentina",
 "'armageddon",
 "'as",
 "'avalanche",
 "'avoiding",
 "'badges",
 "'bang",
 "'barbaric",
 "'bbcnews",
 "'be",
 "'beautiful",
 "'become",
 "'ben",
 "'better",
 "'biggest",
 "'bioterror-",
 "'blaaaaaaa",
 "'blaze",
 "'blew",
 "'bloody",
 "'blue",
 "'body",
 "'bomb",
 "'british",
 "'bullseye",
 "'bump",
 "'bury",
 "'bush",
 "'but",
 "'by",
 "'ca",
 "'calgarians",
 "'california",
 "'car",
 "'casing",
 "'cause",
 "'chemically",
 "'china",
 "'choose",
 "'climate",
 "'close",
 "'collide",
 "'colored",
 "'come",
 "'conclusively",
 "'congress",
 "'controlled",
 "'cooler",
 "'country",
 "'couple",
 "'crash",
 "'d",
 "'dangerous",
 "'dawgs",
 "'dead",
 "'death",
 "'debate",
 "'deluge",
 "'democracy",
 "'demolish",
 "'demolition",
 "'descendants",
 "'desolate",
 "'detonate",
 "'devastated",
 "'difficulty",
 "'digital",
 "'dispersed",
 "'do",
 "'double",
 "'dragon",
 "'drill",
 "'drowning",
 "'dumbfounded",
 "'earthquake",
 "'ecstatic",
 "'education",
 "'electrocute",
 "'ell",
 "'em",
 "'emergency",
 "'en",
 "'engulfed",
 "'epic",
 "'er",
 "'every",
 "'everyone",
 "'everything",
 "'exceptional",
 "'exciting",
 "'exploded",
 "'extremely",
 "'faceless",
 "'fair",
 "'fat",
 "'fatal",
 "'fire",
 "'first",
 "'flip",
 "'flood",
 "'floods",
 "'food",
 "'forget",
 "'free",
 "'frog",
 "'fuck",
 "'fuckface",
 "'genius",
 "'get",
 "'getting",
 "'ghostwriter",
 "'go",
 "'good",
 "'gosh",
 "'grandeur",
 "'great",
 "'gunman",
 "'half",
 "'hanna",
 "'hard",
 "'hazard",
 "'he",
 "'healing",
 "'heat",
 "'hey",
 "'high",
 "'highest",
 "'hijacker",
 "'hiroshima",
 "'historic",
 "'hits",
 "'hoax",
 "'home",
 "'honor",
 "'honour",
 "'hood",
 "'hope",
 "'hopefully",
 "'hostages",
 "'how",
 "'huge",
 "'hungover",
 "'hurricane",
 "'if",
 "'iinet",
 "'ill",
 "'illegal",
 "'imagine",
 "'impossible",
 "'impulse",
 "'individual",
 "'institute",
 "'integrity",
 "'introduction",
 "'invading",
 "'investigators",
 "'ironically",
 "'is",
 "'isis",
 "'islamic",
 "'it",
 "'jaileens",
 "'janice",
 "'jet",
 "'joined",
 "'just",
 "'kessler",
 "'landslide",
 "'language",
 "'leaves",
 "'leaving",
 "'left",
 "'legionnaires",
 "'lego",
 "'let",
 "'level",
 "'light",
 "'little",
 "'ll",
 "'london",
 "'looking",
 "'lost",
 "'m",
 "'mages",
 "'make",
 "'malaysia",
 "'man",
 "'manager",
 "'many",
 "'married",
 "'mass",
 "'massive",
 "'may",
 "'maybe",
 "'mcfadden",
 "'minimum",
 "'missing",
 "'moist",
 "'molave",
 "'money",
 "'motordom",
 "'mudslide",
 "'muslim",
 "'mutant",
 "'my",
 "'nagasaki",
 "'new",
 "'newidea",
 "'niall",
 "'nikki",
 "'no",
 "'nobody",
 "'nope",
 "'not",
 "'nother",
 "'nuclear",
 "'nuff",
 "'ny",
 "'obliteration",
 "'omg",
 "'onion",
 "'only",
 "'oompah-period",
 "'oso",
 "'ought",
 "'our",
 "'pain",
 "'palestinians",
 "'pandemonium",
 "'pants",
 "'paul",
 "'peacetime",
 "'people",
 "'pharaoh",
 "'planted",
 "'please",
 "'plot",
 "'political",
 "'politics",
 "'possible",
 "'premium",
 "'prince",
 "'protest",
 "'quantitlink",
 "'quarantine",
 "'ransomware",
 "'rapidly",
 "'re",
 "'receipts",
 "'record-high",
 "'red",
 "'reddish",
 "'reddit",
 "'redistribute",
 "'redskins",
 "'refuse",
 "'remembering",
 "'reporting",
 "'requiem",
 "'rescued",
 "'rescuers",
 "'reunion",
 "'rioting",
 "'rt",
 "'rubber",
 "'run",
 "'s",
 "'sandstorm",
 "'sandy",
 "'sanitised",
 "'save",
 "'screaming",
 "'screw",
 "'second",
 "'seeing",
 "'seismic",
 "'sharp",
 "'she",
 "'shell",
 "'shelter",
 "'show",
 "'since1970the",
 "'siren",
 "'slight",
 "'snowstorm",
 "'so",
 "'soggy",
 "'some",
 "'sometimes",
 "'sorry",
 "'specialist",
 "'spent",
 "'star",
 "'stare",
 "'stretcher",
 "'sub-tornado",
 "'suicide",
 "'superhero",
 "'suspected",
 "'sweet",
 "'t",
 "'taking",
 "'thanks",
 "'the",
 "'theatre",
 "'there",
 "'they",
 "'thousands",
 "'three",
 "'titanic",
 "'trust",
 "'tsunami",
 "'tube",
 "'twins",
 "'ugly",
 "'unconsciously",
 "'unpacked",
 "'up",
 "'ur",
 "'us",
 "'use",
 "'uses",
 "'ve",
 "'violent",
 "'vulnerable",
 "'waiting",
 "'want",
 "'we",
 "'weapon",
 "'well",
 "'what",
 "'whats",
 "'when",
 "'where",
 "'who",
 "'whoa",
 "'why",
 "'without",
 "'woah",
 "'worries",
 "'would",
 "'wounded",
 "'yet",
 "'you",
 "'younger",
 "'your",
 '(',
 ')',
 '*',
 '+',
 '+54',
 '+link',
 '+shooting',
 '+soviet',
 '+ve',
 ',',
 '-',
 '--',
 '-.-',
 '-/',
 '-04:00',
 '-07',
 '-07:0',
 '-07:00',
 '-08:0',
 '-08:00',
 '-10',
 '-10:00',
 '-11',
 '-26',
 '-27',
 '-3:45pm',
 '-80m',
 '-9',
 '-=-0',
 '-_-',
 '-__-',
 '-a',
 '-ah',
 '-anonymous',
 '-d',
 '-david',
 '-her',
 '-honey',
 '-how',
 '-hubert',
 '-in',
 '-iowa',
 '-kfvs12',
 '-kody',
 '-legion',
 '-loses',
 '-lou',
 '-me',
 '-o',
 '-of',
 '-on',
 '-over',
 '-pandemonium',
 '-peace-love-rescue-',
 '-popular',
 '-population:6',
 '-runs',
 '-sets',
 '-sigmund',
 '-sister',
 '-stacy',
 '-still',
 '-the',
 '-tune',
 '-with',
 '.',
 '..',
 '...',
 '....',
 '.....',
 '......',
 '...............',
 './',
 '.1',
 '.20',
 '.4',
 '.75',
 '.90',
 '.doc',
 '.forbes',
 '.fuck',
 '.haha',
 '.martinmj22',
 '.org',
 '.potus',
 '.ru',
 '.sink',
 '/',
 "/'/'//",
 '//',
 '//./',
 '//im',
 '//kinda',
 '//screams',
 '/b',
 '/every/',
 '/friggin/',
 '/or',
 '/r/antipozi',
 '/r/cityporn',
 '/r/conspiracy',
 '/r/jailbreak',
 '/r/pics',
 '/r/stormcoming',
 '/r/vaping101',
 '/r/worldnews',
 '/server',
 '/shakespeare',
 '/shower',
 '/sponsorships',
 '/via',
 '0',
 '0-day',
 '0.45',
 '0.6',
 '0.75',
 '0.9',
 '00:11',
 '00:11:16',
 '00:25',
 '00:52:25',
 '01-06',
 '01:01:56',
 '01:02:17',
 '01:04',
 '01:04:01',
 '01:11',
 '01:20:32',
 '01:26:24',
 '01:50:25',
 '02',
 '02-06',
 '0215',
 '03',
 '03-08',
 '03/08/11',
 '030/6',
 '034',
 '039',
 '05',
 '05.',
 '05.08.2015',
 '05th',
 '06',
 '060/5',
 '061',
 '06:32:43',
 '06:34:24',
 '06jst',
 '07:30',
 '08.05.15',
 '08/02/15',
 '08/05/2015',
 '08/06/15',
 '08/06/2015',
 '08/07/2015',
 '08/3/15',
 '0840728',
 '08:00',
 '08:02pm',
 '09',
 '09:13',
 '09:36',
 '0npzp',
 '1',
 '1-1st',
 '1-6',
 '1-russian',
 '1.',
 '1.00',
 '1.13',
 '1.2',
 '1.25',
 '1.3',
 '1.4',
 '1.43',
 '1.5',
 '1.9',
 '1.94',
 '1/',
 '1/13/82',
 '1/2',
 '1/2007',
 '1/n',
 '10',
 '10-6',
 '10-month-old',
 '10.',
 '10/3',
 '100',
 '100.000',
 '1000',
 '10000',
 '100000',
 '10001000',
 '1000s',
 '1008pla',
 '1008planet',
 '100mb',
 '100nd',
 '100s',
 '101',
 '1028',
 '103',
 '105',
 '106.1',
 '1061thetwister',
 '106:38',
 '107',
 '107.9',
 '109',
 '10:00',
 '10:15',
 '10:15pm',
 '10:30',
 '10:30pm',
 '10:34:24',
 '10:38pm',
 '10:40',
 '10:40pm',
 '10am',
 '10k',
 '10km',
 '10m',
 '10news',
 '10pm',
 '10th',
 '10w',
 '10x',
 '11',
 '11-year-old',
 '11.2',
 '11000',
 '11000000',
 '111020',
 '114',
 '1145',
 '115',
 '115film',
 '119000',
 '11:00',
 '11:03:58',
 '11:15',
 '11:30',
 '11:30a',
 '11:30bst',
 '11:45',
 '11am',
 '12',
 '12-step',
 '12.',
 '12.5',
 '1200',
 '12000',
 '120000',
 '1200000',
 '1236',
 '124',
 '124.13.172.40',
 '125',
 '129',
 '12:00',
 '12:11',
 '12:32',
 '12hr',
 '12jst',
 '12m',
 '12mm',
 '12news',
 '12th',
 '12u',
 '12v',
 '13',
 '13,000',
 '13000',
 '133',
 '138:8',
 '14',
 '14-hours',
 '14-year-old',
 '140',
 '14000',
 '14028',
 '143',
 '148',
 '149',
 '14th',
 '15',
 '150',
 '150+',
 '150-foot',
 '1500',
 '15000270364',
 '15000270653',
 '158-0853',
 '158-1017',
 '159',
 '15901',
 '15:04:01',
 '15:41:07',
 '15km',
 '15moferadio',
 '15th',
 '16',
 '16.99',
 '160',
 '1600',
 '1600-year-old',
 '1620',
 '163',
 '165000',
 '16550',
 '166',
 '1665',
 '16:11:16',
 '16:40:21',
 '16:54:09',
 '16yr',
 '17',
 '17-jul-2015',
 '17.beyonce',
 '1700',
 '17000',
 '171',
 '1716',
 '1717',
 '178',
 '179',
 '17:10',
 '17:26',
 '17:52:25',
 '17months',
 '17th',
 '18',
 '18+',
 '18-wheeler',
 '18-wheelers',
 '180',
 '1800',
 '184.',
 '1843',
 '1862',
 '1880',
 '1890',
 '1895',
 '18:00',
 '18:22:45',
 '18:26:24',
 '18jst',
 '18th',
 '18w',
 '19',
 '1916',
 '1921',
 '1928',
 '1935.',
 '1940',
 '1942',
 '1943',
 '1945',
 '1945.',
 '1950',
 '1952',
 '1960s',
 '1965',
 '1965.',
 '1967',
 '1970',
 '1970s',
 '1974',
 '1976',
 '1976.',
 '1979',
 '198',
 '1980',
 '1986',
 '1994',
 '1998',
 '1998-99',
 '1999',
 '19:36:35',
 '19th',
 '19yrs',
 '1:04:01',
 '1:08',
 '1:18',
 '1:32',
 '1:57',
 '1:7',
 '1:87',
 '1acd4900c1424d1',
 '1d',
 '1km',
 '1m',
 '1rockstar62',
 '1st',
 '1x1',
 '2',
 '2-1-21',
 '2-car',
 '2-u.s.',
 '2.',
 '2.0',
 '2.0l-l4',
 '2.1a',
 '2.2',
 '2.4',
 '2.4region',
 '2.5',
 '2.5l-l6',
 '2.9',
 '2.99',
 '2.iclown',
 '2/2',
 '2/6',
 '2/his',
 '2/n',
 '20',
 '20+homers',
 '20.',
 '200',
 '2000',
 '200000',
 '20000k',
 '2002',
 '2003',
 '2005',
 '2006.',
 '2007',
 '2007he',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2014.',
 '2015',
 '2015-08-05',
 '2015-08-14',
 '2015-16',
 '2015-2',
 '2015.',
 '2015.08.06',
 '20150613',
 '2016',
 '2017',
 '20177-707d',
 '2019',
 '202',
 '2025',
 '2030',
 '203rd',
 '2065',
 '208-267-6773',
 '20:29',
 '20:30',
 '20k',
 '20mins',
 '20s',
 '20skyhawkmm20',
 '20yrs',
 '21',
 '21+',
 '210',
 '213-4678',
 '213-924',
 '21:1023',
 '21k',
 '21st',
 '22',
 '22.beyonce',
 '22days',
 '23',
 '233liveonline',
 '238.00',
 '239',
 '23:00',
 '23:40:21',
 '23:54:09',
 '23km',
 '23rd',
 '24',
 '24/7',
 '241487',
 '24:1',
 '24v',
 '25',
 '25.5',
 '2500',
 '250000',
 '2500fps',
 '250k',
 '26',
 '260th',
 '263chat',
 '27',
 '2781',
 '27w',
 '28',
 '28700',
 '29',
 '29-07-2015',
 '29-07-2015.',
 '29/20',
 '290',
 '293',
 '295ss-100',
 '2:09',
 '2:17',
 '2:22pm',
 '2:28',
 '2:30',
 '2a',
 '2am',
 '2b',
 '2d',
 '2day',
 '2fast2furious',
 '2for1lapdances',
 '2hours',
 '2k13',
 '2k15',
 '2leezy',
 '2minutemix',
 '2nd',
 '2pack',
 '2pcs',
 '2pm',
 '2pm-close',
 '2slow2report',
 '3',
 '3-4:30pm',
 '3-7',
 '3-alarm',
 '3-d',
 '3-inspired',
 '3-year-old',
 '3.',
 '3.0l-v6',
 '3.1',
 '3.4',
 '3.5',
 '3/4',
 '30',
 '300',
 '300000',
 '300k',
 '300w',
 '30m',
 '30min',
 '30pcs',
 '30s',
 '30stm',
 '30th',
 '31',
 '311',
 '319',
 '32',
 '320',
 '325',
 '325ci',
 '33',
 '34',
 '3460',
 '34:22',
 '35',
 '350',
 '358',
 '36',
 "36'x36",
 '360',
 '360wisenews',
 '361',
 '365disasters',
 '367',
 '37',
 '37-year-old',
 '370',
 '375',
 '375.000',
 '37592',
 '38',
 '38745',
 '39',
 '390',
 '3934',
 '3939',
 '3941',
 '3942',
 '3945',
 '3967',
 '3:15',
 '3:15pm',
 '3:30a',
 '3_6_12',
 '3am',
 '3d',
 '3dc',
 '3g',
 '3km',
 '3la',
 '3m',
 '3novices',
 '3p',
 '3pack',
 '3rd',
 '3x',
 '3x5',
 '4',
 '4-0',
 '4-suspected',
 '4.',
 '4.0',
 '4.1',
 '4.2',
 '4.4',
 ...]

In [11]:
tf_idf_array = tf_idf_data.toarray()

In [12]:
tf_idf_df = pd.DataFrame(tf_idf_array, columns=col_names)
train_set_encoded = train.join(other=tf_idf_df, how='inner', lsuffix="_")

In [13]:
train_set_encoded.head(10)

,id_,keyword,location_,text_,len_text,target_,!,#,$,%,...,|via,||,},£100bn,£150,£279.00end,£300m,£6bn,£9,©daniel
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,69,1,0.0,0.136986,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,38,1,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,133,1,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",65,1,0.0,0.124633,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,88,1,0.0,0.210180,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,110,1,0.0,0.262362,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,95,1,0.0,0.179709,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,59,1,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,14,NaN,NaN,There's an emergency evacuation happening now ...,79,1,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,52,1,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Random Forest

In [14]:
from sklearn.model_selection import train_test_split

col_names.append('id_')
col_names.append('len_text')
col_names.append('target_')

train_set = train_set_encoded[col_names]

train_set.head(10)

,!,#,$,%,&,','','02,'05,'11,...,£100bn,£150,£279.00end,£300m,£6bn,£9,©daniel,id_,len_text,target_
0,0.0,0.136986,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,69,1
1,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,38,1
2,0.0,0.000000,0.0,0.0,0.0,0.120834,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,133,1
3,0.0,0.124633,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,65,1
4,0.0,0.210180,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,88,1
5,0.0,0.262362,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8,110,1
6,0.0,0.179709,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,95,1
7,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13,59,1
8,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14,79,1
9,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15,52,1

In [15]:
X, y = train_set.iloc[:,:-1],train_set.iloc[:,-1]

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [17]:
X_train

,!,#,$,%,&,','','02,'05,'11,...,},£100bn,£150,£279.00end,£300m,£6bn,£9,©daniel,id_,len_text
2840,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4085,71
6570,0.000000,0.134754,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9403,53
5986,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8547,35
6731,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9645,100
599,0.000000,0.254807,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,867,119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5793,0.121664,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8266,139
5538,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7902,135
5212,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7444,36
6068,0.000000,0.130074,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8668,59
1409,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2034,128

In [18]:
y_train

2840    0
6570    1
5986    0
6731    1
599     1
       ..
5793    1
5538    1
5212    0
6068    1
1409    1
Name: target_, Length: 5329, dtype: int64

In [19]:
y_test

3195    1
5808    1
3098    0
5072    0
6381    1
       ..
5084    1
3941    0
5628    1
3717    0
7556    0
Name: target_, Length: 2284, dtype: int64

In [20]:
X_test

,!,#,$,%,&,','','02,'05,'11,...,},£100bn,£150,£279.00end,£300m,£6bn,£9,©daniel,id_,len_text
3195,0.0,0.179042,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4587,132
5808,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8289,138
3098,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4448,85
5072,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7230,97
6381,0.0,0.138240,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9119,107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5084,0.0,0.262938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7251,119
3941,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5603,100
5628,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8028,65
3717,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5285,19
7556,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10802,46

In [21]:
rf_model = RandomForestClassifier(random_state=1)
rf_model.fit(X_train, y_train)
preds = rf_model.predict(X_test)
acc = np.sqrt(accuracy_score(y_test, preds))
print("Accuracy Score: %f" % (acc))

Accuracy Score: 0.877327

### Test

In [46]:
test_set = pd.read_csv('test.csv')

In [47]:
test_set.head(10)

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan
5  12     NaN      NaN                 We're shaking...It's an earthquake
6  21     NaN      NaN  They'd probably still show more life than Arse...
7  22     NaN      NaN                                  Hey! How are you?
8  27     NaN      NaN                                   What a nice hat?
9  29     NaN      NaN                                          Fuck off!

In [48]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

In [49]:
pos_col_text = test_set.columns.get_loc('text')+1
test_set.insert(loc=pos_col_text, column='len_text', value=test_set['text'].iloc[:].str.len())
test_set.head(10)

,id,keyword,location,text,len_text
0,0,NaN,NaN,Just happened a terrible car crash,34
1,2,NaN,NaN,"Heard about #earthquake is different cities, s...",64
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",96
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,40
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,45
5,12,NaN,NaN,We're shaking...It's an earthquake,34
6,21,NaN,NaN,They'd probably still show more life than Arse...,72
7,22,NaN,NaN,Hey! How are you?,17
8,27,NaN,NaN,What a nice hat?,16
9,29,NaN,NaN,Fuck off!,9

In [50]:
tf_idf_data = tf_idf_vec.fit_transform(test_set['text'])

In [51]:
col_names = tf_idf_vec.get_feature_names()

In [52]:
tf_idf_array = tf_idf_data.toarray()

In [53]:
tf_idf_df = pd.DataFrame(tf_idf_array, columns=col_names)
test_set_encoded = test_set.join(other=tf_idf_df, how='inner', lsuffix="_")

In [54]:
col_names.append('id_')
col_names.append('len_text')

test_set = test_set_encoded[col_names]

test_set.head(10)

,!,#,$,%,&,','','2079,'30,'79,...,å¨,åà,åáåáåá,åè,åê,åêwas,ìàekdar,ìñ2,id_,len_text
0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,34
1,0.000000,0.125999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,64
2,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,96
3,0.000000,0.290634,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,40
4,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11,45
5,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12,34
6,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21,72
7,0.395479,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22,17
8,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27,16
9,0.465408,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29,9

In [55]:
preds = rf_model.predict(test_set)
preds

ValueError: Number of features of the model must match the input. Model n_features is 22783 and input n_features is 12623

In [43]:
print(len(preds))
test_set['target'] = preds
test_set['target']

2284

ValueError: Length of values does not match length of index