## Imports

In [38]:
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree

In [39]:
train = pd.read_csv('train.csv')
train.head(10)

,id,keyword,location,text,target
0,1,NaN,NaN,our deed are the reason of thi earthquak may a...,1
1,4,NaN,NaN,forest fire near la rong sask canada,1
2,5,NaN,NaN,all resid ask to ishelt in place are be notifi...,1
3,6,NaN,NaN,13000 peopl receiv wildfir evacu order in cali...,1
4,7,NaN,NaN,just got sent thi photo from rubi alaska as sm...,1
5,8,NaN,NaN,rockyfir updat california hwi 20 close in both...,1
6,10,NaN,NaN,flood disast heavi rain cau flash flood of str...,1
7,13,NaN,NaN,i m on top of the hill and i can see a fire in...,1
8,14,NaN,NaN,there i an emerg evacu happen now in the build...,1
9,15,NaN,NaN,i m afraid that the tornado is come to our area,1

In [40]:
pos_col_text = train.columns.get_loc('text')+1
train.insert(loc=pos_col_text, column='len_text', value=train['text'].iloc[:].str.len())
train.head(10)

,id,keyword,location,text,len_text,target
0,1,NaN,NaN,our deed are the reason of thi earthquak may a...,65,1
1,4,NaN,NaN,forest fire near la rong sask canada,37,1
2,5,NaN,NaN,all resid ask to ishelt in place are be notifi...,108,1
3,6,NaN,NaN,13000 peopl receiv wildfir evacu order in cali...,53,1
4,7,NaN,NaN,just got sent thi photo from rubi alaska as sm...,82,1
5,8,NaN,NaN,rockyfir updat california hwi 20 close in both...,92,1
6,10,NaN,NaN,flood disast heavi rain cau flash flood of str...,80,1
7,13,NaN,NaN,i m on top of the hill and i can see a fire in...,56,1
8,14,NaN,NaN,there i an emerg evacu happen now in the build...,65,1
9,15,NaN,NaN,i m afraid that the tornado is come to our area,48,1

### Enconding de columnas categóricas/strings

In [41]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import nltk #pip install nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/ben/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [42]:
tf_idf_vec = TfidfVectorizer(use_idf=True, smooth_idf=False, ngram_range=(1,1), stop_words='english', tokenizer=nltk.word_tokenize)
tf_idf_data = tf_idf_vec.fit_transform(train['text'])

In [43]:
col_names = tf_idf_vec.get_feature_names()
col_names

['0',
 '00',
 '01',
 '02',
 '0215',
 '03',
 '030',
 '034',
 '039',
 '05',
 '05th',
 '06',
 '060',
 '061',
 '06jst',
 '07',
 '08',
 '0840728',
 '09',
 '0npzp',
 '1',
 '10',
 '100',
 '1000',
 '10000',
 '100000',
 '1000and',
 '1008pla',
 '1008planet',
 '100bn',
 '100mb',
 '100nd',
 '101',
 '1017',
 '1023',
 '1028',
 '103',
 '105',
 '106',
 '1061thetwist',
 '107',
 '109',
 '10am',
 '10k',
 '10km',
 '10m',
 '10new',
 '10pm',
 '10th',
 '10w',
 '10x',
 '11',
 '11000',
 '11000000',
 '111020',
 '114',
 '1141',
 '1145',
 '115',
 '115film',
 '119000',
 '11am',
 '12',
 '1200',
 '12000',
 '120000',
 '1200000',
 '1236',
 '124',
 '125',
 '129',
 '12am',
 '12hr',
 '12jst',
 '12m',
 '12mm',
 '12new',
 '12pm',
 '12th',
 '12u',
 '12v',
 '13',
 '130',
 '13000',
 '133',
 '138',
 '139055',
 '13pm',
 '14',
 '140',
 '14000',
 '14028',
 '141',
 '143',
 '148',
 '149',
 '14th',
 '15',
 '150',
 '1500',
 '15000270364',
 '15000270653',
 '158',
 '159',
 '15901',
 '15km',
 '15moferadio',
 '15p',
 '15pm',
 '15t',
 '15th',
 '16',
 '160',
 '1600',
 '1620',
 '163',
 '165000',
 '16550',
 '166',
 '1665',
 '16yr',
 '17',
 '1700',
 '17000',
 '171',
 '1716',
 '1717',
 '172',
 '178',
 '179',
 '17month',
 '17th',
 '18',
 '180',
 '1800',
 '184',
 '1843',
 '1862',
 '1880',
 '1890',
 '1895',
 '18jst',
 '18th',
 '18w',
 '19',
 '1916',
 '1921',
 '1928',
 '1935',
 '1940',
 '1942',
 '1943',
 '1945',
 '1950',
 '1952',
 '1960',
 '1965',
 '1967',
 '1970',
 '1974',
 '1976',
 '1979',
 '198',
 '1980',
 '1984',
 '1986',
 '1994',
 '1998',
 '1999',
 '19th',
 '19yr',
 '1a',
 '1acd4900c1424d1',
 '1d',
 '1km',
 '1m',
 '1pack',
 '1rockstar62',
 '1st',
 '1x1',
 '2',
 '20',
 '200',
 '2000',
 '200000',
 '20000k',
 '2002',
 '2003',
 '2005',
 '2006',
 '2007',
 '2007he',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '20150613',
 '2016',
 '2017',
 '20177',
 '2019',
 '202',
 '2025',
 '2030',
 '203rd',
 '2065',
 '208',
 '20k',
 '20min',
 '20skyhawkmm20',
 '20yr',
 '21',
 '210',
 '213',
 '214904',
 '21k',
 '21st',
 '22',
 '22day',
 '22pm',
 '23',
 '231a',
 '2327564d',
 '233liveonlin',
 '238',
 '239',
 '23928835',
 '23km',
 '23rd',
 '24',
 '241487',
 '24v',
 '25',
 '250',
 '2500',
 '250000',
 '2500fp',
 '250k',
 '26',
 '260th',
 '263789f4',
 '263chat',
 '265v',
 '267',
 '27',
 '2781',
 '279',
 '27w',
 '28',
 '28700',
 '28pm',
 '29',
 '290',
 '293',
 '295ss',
 '29pm',
 '2a',
 '2am',
 '2b',
 '2d',
 '2day',
 '2fast2furi',
 '2for1lapd',
 '2hour',
 '2k13',
 '2k15',
 '2leezi',
 '2minutemix',
 '2nd',
 '2pack',
 '2pc',
 '2pm',
 '2slow2report',
 '3',
 '30',
 '300',
 '300000',
 '300k',
 '300m',
 '300w',
 '301dc',
 '30a',
 '30bst',
 '30m',
 '30min',
 '30p',
 '30pc',
 '30pm',
 '30stm',
 '30th',
 '31',
 '311',
 '319',
 '31pm',
 '32',
 '320',
 '325',
 '325ci',
 '33',
 '33333',
 '33pm',
 '34',
 '3460',
 '35',
 '350',
 '358',
 '36',
 '360',
 '360wisenew',
 '361',
 '3612',
 '365disast',
 '367',
 '36x36',
 '37',
 '370',
 '375',
 '37592',
 '37b',
 '38',
 '38745',
 '38pm',
 '39',
 '390',
 '3934',
 '3939',
 '3941',
 '3942',
 '3945',
 '3967',
 '3a',
 '3am',
 '3d',
 '3dc',
 '3g',
 '3km',
 '3la',
 '3m',
 '3novic',
 '3other',
 '3p',
 '3pack',
 '3rd',
 '3x',
 '3x5',
 '4',
 '40',
 '4000',
 '400000',
 '400dr',
 '400t',
 '401k',
 '405',
 '40hourfamin',
 '40mln',
 '40pm',
 '40w',
 '41',
 '410',
 '4103',
 '415',
 '419',
 '420',
 '429cj',
 '43',
 '43rd',
 '44',
 '45',
 '450',
 '4500',
 '452',
 '45600',
 '459',
 '45m',
 '45pm',
 '46',
 '46082474',
 '4678',
 '47km',
 '48',
 '49',
 '495',
 '4am',
 '4got',
 '4head',
 '4k',
 '4km',
 '4ku',
 '4playthursday',
 '4pm',
 '4region',
 '4sake',
 '4th',
 '4the',
 '4tile',
 '4tpfa',
 '4tpkotc',
 '4wd',
 '4x4',
 '4yygb',
 '5',
 '50',
 '500',
 '5000',
 '500th',
 '501',
 '5040',
 '509',
 '50ft',
 '50shadezofgrey',
 '51',
 '513',
 '516',
 '52',
 '528',
 '52k',
 '53',
 '530',
 '53inch',
 '54',
 '540',
 '54000',
 '541',
 '544',
 '547',
 '55',
 '550',
 '55436',
 '56',
 '57',
 '573',
 '58',
 '582',
 '58hif',
 '5c',
 '5hvzlaradio',
 '5km',
 '5l',
 '5pm',
 '5s',
 '5so',
 '5sosfam',
 '5sosfamupdat',
 '5th',
 '6',
 '60',
 '600',
 '60000',
 '60km',
 '60m',
 '60mph',
 '61',
 '615',
 '616',
 '61st',
 '62',
 '627',
 '629',
 '63rd',
 '64',
 '64oz',
 '65',
 '65000',
 '66',
 '660',
 '6615434',
 '662',
 '666',
 '666canberra',
 '67',
 '670thescor',
 '6773',
 '68',
 '688',
 '69',
 '6aug',
 '6bn',
 '6c',
 '6l',
 '6m',
 '6pm',
 '6th',
 '7',
 '70',
 '7000',
 '70000',
 '707d',
 '70th',
 '70year',
 '712c',
 '71st',
 '72',
 '72w',
 '731',
 '737',
 '73km',
 '73rd',
 '74',
 '740',
 '746',
 '75',
 '75000',
 '751',
 '752',
 '75k',
 '77',
 '777',
 '78',
 '79',
 '7a',
 '7aal',
 '7amdollela',
 '7k',
 '7newsadl',
 '7p',
 '8',
 '80',
 '800',
 '8000',
 '800000',
 '8015',
 '80m',
 '82',
 '8217',
 '82ndabndiv',
 '83',
 '8392',
 '8400',
 '8437150124',
 '853',
 '8550013',
 '85885473',
 '8591',
 '85v',
 '87',
 '877',
 '87809233445',
 '88',
 '880',
 '8960',
 '89x',
 '8km',
 '8m',
 '8th',
 '8wht',
 '9',
 '90',
 '9000',
 '900037',
 '90225',
 '905',
 '90blksand',
 '90th',
 '91',
 '911',
 '911bomb',
 '917',
 '91f',
 '92',
 '924',
 '925',
 '928',
 '93',
 '94',
 '945hpa',
 '95',
 '950',
 '957thegam',
 '95root',
 '96',
 '96355',
 '966',
 '96km',
 '97',
 '98',
 '99',
 '994',
 '9973',
 '999',
 '999day',
 '9am',
 '9km',
 '9newsbrisban',
 '9newsgoldcoast',
 '9newsmorn',
 '9pm',
 '9tarbox',
 '``',
 'a1',
 'a10',
 'a1a',
 'a2',
 'a3',
 'a40',
 'a5',
 'a7',
 'aa',
 'aaaa',
 'aaaaaaallll',
 'aaaaaand',
 'aaarrrgghhh',
 'aaceorg',
 'aan',
 'aand',
 'aannnnd',
 'aar',
 'aaronthefm',
 'aashiqui',
 'ab',
 'aba',
 'abandon',
 'abandonedp',
 'abbandon',
 'abbott',
 'abbruchsimul',
 'abbswinston',
 'abbyairshow',
 'abc',
 'abc3340',
 'abc7',
 'abc7chicago',
 'abc7eyewit',
 'abcnew',
 'abcnews24',
 'abcnorio',
 'abe',
 'aberdeen',
 'aberdeenfanpag',
 'aberdeenfc',
 'aberystwyth',
 'abha',
 'abia',
 'abil',
 'abject',
 'abl',
 'ablaz',
 'ableg',
 'abninfvet',
 'aboard',
 'abomb',
 'abomin',
 'abort',
 'abov',
 'abq',
 'abrancaballero',
 'absenc',
 'absolut',
 'absolutsumya15',
 'abstorm',
 'abstract',
 'absurd',
 'absurdli',
 'abu',
 'abubaraa1',
 'abysmaljoin',
 'ac',
 'acaciapenn',
 'academia',
 'acarewornheart',
 'acc',
 'accept',
 'access',
 'accid',
 'accidentalpropheci',
 'accionempresa',
 'accompani',
 'accord',
 'accordingli',
 'account',
 'accu',
 'accuraci',
 'accustom',
 'acdelco',
 'ace',
 'acebab',
 'acebreakingnew',
 'acenewsdesk',
 'acess',
 'ach',
 'achedin',
 'achiev',
 'achimota',
 'acid',
 'acmilan',
 'acn',
 'acoust',
 'acousticmaloley',
 'acquiesc',
 'acquir',
 'acquisit',
 'acr',
 'acronym',
 'acryl',
 'act',
 'actavi',
 'actin',
 'action',
 'actionmoviestaughtu',
 'activ',
 'activi',
 'activist',
 'actor',
 'actress',
 'actual',
 'acura',
 'acut',
 'ad',
 'adam',
 'adamantli',
 'adamniblo',
 'adamrubinespn',
 'adamtuss',
 'adani',
 'adann',
 'adapt',
 'add',
 'addict',
 'addit',
 'address',
 'addtexastonext1dtour',
 'adelaid',
 'adhd',
 'adida',
 'adiossuperbacteria',
 'adjust',
 'admin',
 'administr',
 'admit',
 'adndotcom',
 'adopt',
 'ador',
 'adorableapppl',
 'adrianpeel',
 'adriasimon',
 'adriennetomah',
 'adult',
 'adultblackm',
 'adumbbb',
 'advanc',
 'advantag',
 'adventur',
 'adver',
 'adverti',
 'advi',
 'advic',
 'advisori',
 'adweek',
 'aeg',
 'aelinrh',
 'aeroplan',
 'aerospac',
 'aesop',
 'aesthet',
 'af',
 'afc',
 'affair',
 'affect',
 'affili',
 'affleck',
 'afflict',
 'afghan',
 'afghanistan',
 'afghetcleft',
 'afk10',
 'afloat',
 'afp',
 'afraid',
 'africa',
 'african',
 'africanbaz',
 'africansinsf',
 'afrikaan',
 'afrin',
 'aft',
 'afterhaiyan',
 'afterlif',
 'aftermath',
 'afternoon',
 'aftershock',
 'aftershockdelo',
 'aftershockorg',
 'afterward',
 'afycso',
 'ag',
 'agalloch',
 'agdq',
 'age',
 'ageekyfangirl14',
 'agenc',
 'agent',
 'aggarw',
 'aggress',
 'aggressif',
 'agnivesh',
 'agnu',
 'ago',
 'agoni',
 'agr',
 'agreement',
 'aguero',
 'agusa',
 'agw',
 'ah',
 'ahahahga',
 'ahamedi',
 'ahead',
 'ahh',
 'ahhh',
 'ahhhh',
 'ahhhhh',
 'ahhtheenikki',
 'ahrar',
 'ai',
 'aia',
 'aid',
 'aidad',
 'aidan',
 'aiginsur',
 'aiiamericangiri',
 'aiii',
 'aim',
 'aimlessli',
 'aintsheperti',
 'air',
 'air1bullet',
 'airasia',
 'aircraft',
 'airhead',
 'airhorn',
 'airlift',
 'airlin',
 'airplan',
 'airport',
 'airstrik',
 'airwav',
 'aisl',
 'aisumag',
 'aitchkayc',
 'ajabrown',
 'ajw',
 'ak',
 'aka',
 'akam',
 'akarb74',
 'akcsl',
 'akgovbillwalk',
 'akilah',
 'akito',
 'akram',
 'akumareisu',
 'akwa',
 'akx',
 'akxbskdn',
 'al',
 'ala',
 'alabama',
 'alabamaquak',
 'aladdin',
 'alameda',
 'alamodc',
 'alanhahn',
 'alarm',
 'alarmingli',
 'alaska',
 'alaskan',
 'alaskaseafood',
 'alba',
 'albani',
 'albeit',
 'alberta',
 'albertan',
 'albertson',
 'album',
 'alchemist',
 'alcohol',
 'alcoholandmet',
 'aldridg',
 'alec',
 'aleisstok',
 'alekal',
 'alert',
 'alex',
 'alexalltimelow',
 'alexandrapullin',
 'alexandrian',
 'alexbelloli',
 'alexeivolkov1',
 'alexhammerston',
 'alexi',
 'alexissanchez',
 'alexjacobsonpf',
 'alexshipppp',
 'alextuck',
 'alfapedia',
 'alga',
 'algeria',
 'alhaji',
 'alhanda',
 'ali',
 'alic',
 'alien',
 'alifaditha',
 'align',
 'alil',
 'alipap',
 'alisonannyoung',
 'aliv',
 'aliveafter5',
 'allah',
 'allahsfinest12',
 'allay',
 'alldaycumshot',
 'alleg',
 'allegedli',
 'allegi',
 'allenenbot',
 'allerg',
 'alley',
 'alli',
 'allianc',
 'allinwithchri',
 'alllivesmatt',
 'alllll',
 'alloc',
 'alloosh',
 'allot',
 'allow',
 'alloy',
 'allthekidneybeansandsorbet4misha',
 'allthenew',
 'allyinwondrland',
 'almighti',
 'almusafirah',
 'aloi',
 'alon',
 'alot',
 'alp',
 'alpha',
 'alphen',
 'alrasyid448iturasya',
 'alreadi',
 'alright',
 'alrighti',
 'alska',
 'alsowhat',
 'alt',
 'altamont',
 'altern',
 'alton',
 'aluminum',
 'alv',
 'alvinnelson07',
 'alway',
 'alwsl',
 'alwx',
 'ama',
 'amageddon',
 'amali',
 'amaramin3',
 'amateur',
 'amateurnest',
 'amaz',
 'amazin',
 'amazon',
 'amazond',
 'amber',
 'ambit',
 'amblesid',
 'ambul',
 'amcx',
 'ame',
 'ameenshaikh3',
 'amen',
 'amend',
 'ameribag',
 'america',
 'american',
 'americanlegion',
 'amesocialact',
 'amico',
 'amicospizzato',
 'amid',
 'amiibo',
 'aminakh',
 'aminespn',
 'amino',
 'amirit',
 'amirkingkhan',
 'amman',
 'amo',
 'amplifi',
 'amread',
 'amritsar',
 'amsal',
 'amssumm',
 'amsterdam',
 ...]

In [44]:
tf_idf_array = tf_idf_data.toarray()

In [45]:
tf_idf_df = pd.DataFrame(tf_idf_array, columns=col_names)
train_set_encoded = train.join(other=tf_idf_df, how='inner', lsuffix="_")

In [46]:
train_set_encoded.head(10)

,id_,keyword,location,text_,len_text,target_,0,00,01,02,...,zotar,zouma,zourryart,zrnf,zss,zumiez,zurich,zxatheti,zzzz,¤
0,1,NaN,NaN,our deed are the reason of thi earthquak may a...,65,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4,NaN,NaN,forest fire near la rong sask canada,37,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5,NaN,NaN,all resid ask to ishelt in place are be notifi...,108,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6,NaN,NaN,13000 peopl receiv wildfir evacu order in cali...,53,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7,NaN,NaN,just got sent thi photo from rubi alaska as sm...,82,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,8,NaN,NaN,rockyfir updat california hwi 20 close in both...,92,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,10,NaN,NaN,flood disast heavi rain cau flash flood of str...,80,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,13,NaN,NaN,i m on top of the hill and i can see a fire in...,56,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,14,NaN,NaN,there i an emerg evacu happen now in the build...,65,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,15,NaN,NaN,i m afraid that the tornado is come to our area,48,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Random Forest

In [47]:
from sklearn.model_selection import train_test_split

col_names.append('id_')
col_names.append('len_text')
col_names.append('target_')

train_set = train_set_encoded[col_names]

train_set.head(10)

,0,00,01,02,0215,03,030,034,039,05,...,zrnf,zss,zumiez,zurich,zxatheti,zzzz,¤,id_,len_text,target_
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,65,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,37,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,108,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,53,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,82,1
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8,92,1
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,80,1
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13,56,1
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14,65,1
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15,48,1

In [48]:
X, y = train_set.iloc[:,:-1],train_set.iloc[:,-1]

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [50]:
rf_model = RandomForestClassifier(n_estimators=100, min_samples_split=20)
rf_model.fit(X_train, y_train)
preds = rf_model.predict(X_test)
acc = np.sqrt(accuracy_score(y_test, preds))
print("Accuracy Score: %f" % (acc))

Accuracy Score: 0.884781

### Test

In [46]:
test_set = pd.read_csv('test.csv')

In [47]:
test_set.head(10)

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan
5  12     NaN      NaN                 We're shaking...It's an earthquake
6  21     NaN      NaN  They'd probably still show more life than Arse...
7  22     NaN      NaN                                  Hey! How are you?
8  27     NaN      NaN                                   What a nice hat?
9  29     NaN      NaN                                          Fuck off!

In [48]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

In [49]:
pos_col_text = test_set.columns.get_loc('text')+1
test_set.insert(loc=pos_col_text, column='len_text', value=test_set['text'].iloc[:].str.len())
test_set.head(10)

,id,keyword,location,text,len_text
0,0,NaN,NaN,Just happened a terrible car crash,34
1,2,NaN,NaN,"Heard about #earthquake is different cities, s...",64
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",96
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,40
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,45
5,12,NaN,NaN,We're shaking...It's an earthquake,34
6,21,NaN,NaN,They'd probably still show more life than Arse...,72
7,22,NaN,NaN,Hey! How are you?,17
8,27,NaN,NaN,What a nice hat?,16
9,29,NaN,NaN,Fuck off!,9

In [50]:
tf_idf_data = tf_idf_vec.fit_transform(test_set['text'])

In [51]:
col_names = tf_idf_vec.get_feature_names()

In [52]:
tf_idf_array = tf_idf_data.toarray()

In [53]:
tf_idf_df = pd.DataFrame(tf_idf_array, columns=col_names)
test_set_encoded = test_set.join(other=tf_idf_df, how='inner', lsuffix="_")

In [54]:
col_names.append('id_')
col_names.append('len_text')

test_set = test_set_encoded[col_names]

test_set.head(10)

,!,#,$,%,&,','','2079,'30,'79,...,å¨,åà,åáåáåá,åè,åê,åêwas,ìàekdar,ìñ2,id_,len_text
0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,34
1,0.000000,0.125999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,64
2,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,96
3,0.000000,0.290634,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,40
4,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11,45
5,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12,34
6,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21,72
7,0.395479,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22,17
8,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27,16
9,0.465408,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29,9

In [55]:
preds = rf_model.predict(test_set)
preds

ValueError: Number of features of the model must match the input. Model n_features is 22783 and input n_features is 12623

In [43]:
print(len(preds))
test_set['target'] = preds
test_set['target']

2284

ValueError: Length of values does not match length of index